@using ITLA_PE_MVC.Areas.HelpPage
@model InvalidSample

@if (HttpContext.Current.IsDebuggingEnabled)
{
    <div class="warning-message-container">
        <p>@model.ErrorMessage</p>
    </div>
}
else
{
    <p>Sample not available.</p>
}