@model ITLA_PE_MVC.ENTITY.MODELS.ModelSolicituds
@{ ViewBag.Title = "Find"; }


<div class="form-group">
    <div class="col-lg-12">
        <div class="card" style="min-height: 500px; padding: 10px;">
            <div class="card-header" style="background-color: #023877; color: #fff">
                <h4 class="card-title" id="basic-layout-colored-form-control">Verificar Estado Solicitud</h4>
            </div>
            <div class="card-content  show">
                <div class="card-body">
                    <div class="form-group">
                        @if (Model != null)
                        {

            <div class="alert alert-success" role="alert">
                El estatus actual de solicitud número @Model.NoSolicitud es: @Model.StatusDesc
            </div> 
            }
                        else
                        {

            <div class="alert alert-warning" role="alert">
                Email o Número de solicitud <strong>@ViewBag.Numero</strong> no existe.
            </div>}
                    </div>
                </div>
            </div>
            <a style="padding: 20px; text-decoration:underline" href="/">Volver al Menu</a>
        </div>
    </div>
</div>

