
@{
    Layout = "~/Views/Shared/_LayoutIntencion.cshtml";
}


@{ ViewBag.Title = "NumeroSolicitud"; }



<div class="form-group">
    <div class="col-lg-12">
        <div class="card" style="padding: 0px;">
            <div class="card-header" style="background-color: #023877; color: #fff">
                <h4 class="card-title" id="basic-layout-colored-form-control">NUMERO DE REGISTRO</h4>
            </div>
            <br />
            <br />

            <div class="alert alert-success" role="alert">
                Su codigo de registro es: @ViewBag.NoSolicitud. Su email de confirmación ha sido enviado @ViewBag.Email.
            </div>


            <a style="padding: 20px; text-decoration:underline" href="/Intencion">Volver al Menu</a>

        </div>
    </div>
</div>


