
@{
    Layout = "~/Views/Shared/_LayoutFull.cshtml";
}

@using (Html.BeginForm("Index", "Home", FormMethod.Get, htmlAttributes: new { @id = "form1" }))
{

<link href="~/Content/assets/css/styles-merged.css" rel="stylesheet" />
                <link href="~/Content/assets/css/style.min.css" rel="stylesheet" />
                                <link href="~/Content/assets/css/custom.css" rel="stylesheet" />
                              
                                <div class="form-group" style="text-align: center; margin-top: 100px;">
                                    <p style="font-weight: bold; color: white; margin-left: 20px; margin-right: 20px;">
                                        Estimado solicitante:
                                        <br /><br />
                                        El plazo hábil para la solicitud de becas Puntos Tecnológicos ha finalizado.
                                        <br />
                                        Puedes aplicar en la segunda etapa del proyecto, que anunciaremos a partir de enero 2021.
                                        <br />
                                        ¡Gracias por tu interés en desarrollar tu talento y transformar tu vida a través de la educación!
                                    </p>

                                    <h3>@ViewBag.Mensaje</h3>
                                    @*<a href="/Solicitudes/Create" style="margin-top: 10px;" class="new btn btn-ghost btn-ghost-white">NUEVA SOLICITUD</a>*@

                                    <a href="#" style="margin-top: 10px;" class="status btn btn-ghost btn-ghost-white">VER EL ESTATUS</a>

                                    @*<a href="#" style="margin-top: 10px;" class="edit btn btn-ghost btn-ghost-white">MODIFICAR SOLICITUD</a>*@

                                    @*<a href="#" class="new btn btn-success btn-lg" style="margin-top: 10px;">Crear nueva solicitud</a>*@
                                    @*<a style="margin-top: 10px;" class="status btn btn-primary btn-lg">Ver el estatus de mi solicitud</a>*@
                                </div>}

<section class="probootstrap-half">
    <div class="image-wrap">
        <div class="image" style="        background-image: url(/Content/images/tecnologia-2.jpg);"></div>
    </div>
    <div class="text">
        <h3 class="mt0 mb40">Proyecto Puntos Tecnológicos</h3>
        <p>Este proyecto es una iniciativa del Ministerio de la Juventud y el ITLA, para proporcionar capacitación científica y tecnológica en todas las casas de juventud, permitiendo a los jóvenes más vulnerables el acceso a una oferta formativa innovadora, que contribuya a la reducción de la brecha digital en el país.</p>
        <p class="">En esta primera etapa el proyecto iniciará en modalidad virtual y beneficiará a 2,500 jóvenes.</p>
        <p class="mb50">El proceso de solicitud de becas se llevará a cabo desde el día 2 hasta el 11 octubre 2020, para iniciar las clases a partir del 19 de octubre 2020.</p>
    </div>
</section>
<section class="probootstrap-half reverse">
    <div class="image-wrap">
        <div class="image" style="        background-image: url(/Content/images/tecnologia-1.jpg);"></div>
    </div>
    <div class="text">
        <h3 class="mt0 mb40">OBJETIVOS</h3>
        <ul>
            <li>Facilitar el acceso a la formación tecnológica a la juventud dominicana.</li>
            <li>Suplir la demanda de técnicos en el área tecnológica a nivel nacional.</li>
            <li>Proveer educación que facilite la innovación y el emprendimiento.</li>
            <li>Reducir la brecha digital.</li>
        </ul>
    </div>
</section>
<section class="probootstrap-half">
    <div class="image-wrap">
        <div class="image" style="        background-image: url(/Content/images/tecnologia-3.jpg);"></div>
    </div>
    <div class="text">
        <h3 class="mt0 mb40">REQUISITOS</h3>
        <ul>
            <li>Nacionalidad dominicana.</li>
            <li>16 años en adelante.</li>
            <li>Cédula o acta de nacimiento.</li>
            <li>Comprobante de estudios: Record de Notas de bachiller (2do grado de media aprobado; antes 8vo. curso).</li>
        </ul>
    </div>
</section>
<section class="probootstrap-half">
    <div class="text bg-light" style="width:100%;">
        <h3 class="mt0 mb40">
            Oferta académica
        </h3>
        <div class="row mb20">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="service-item">
                    <span class="number">2</span>
                    <h4 class="mt0">Seguridad Informática</h4>
                    <ul>
                        <li>Taller Introducción a la Ciberseguridad.</li>
                        <li>Hacker Ético Básico.</li>
                        <li>Introducción a la Seguridad Informática.</li>
                    </ul>
                </div>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="service-item">
                    <span class="number">3</span>
                    <h4 class="mt0">Software</h4>
                    <ul>
                        <li>Introducción a la Programación.</li>
                        <li>Introducción a las Bases de Datos.</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="service-item">
                    <span class="number">4</span>
                    <h4 class="mt0">Mecatrónica</h4>
                    <ul>
                        <li>AutoCAD Básico.</li>
                        <li>Electrónica Básica.</li>
                        <li>Inventor Básico.</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="service-item">
                    <span class="number">4</span>
                    <h4 class="mt0">Multimedia</h4>
                    <ul>
                        <li>Photoshop.</li>
                        <li>Comunicación Digital.</li>
                        <li>Periodista Digital.</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="service-item">
                    <span class="number">1</span>
                    <h4 class="mt0">Redes de Información</h4>
                    <ul>
                        <li>Fundamentos Técnicos del Computador.</li>
                        <li>Microsoft  Excel.</li>
                        <li>Microsoft  PowerPoint.</li>
                    </ul>
                </div>
            </div>
        </div>
        <p><a href="#" class="btn btn-ghost btn-ghost-white mb10">See All Our Services</a></p>
    </div>
</section>
