/*!
 * Autor: Amaury Mateo
 */

body {
	background: #dee2e6;
}

.active-cyan-2 input.form-control[type=text]:focus:not([readonly]) {
	border-bottom: 1px solid #54c8ff;
	box-shadow: 0 1px 0 0 #54c8ff;
}

/* HEATHER */
/* Nav Logo Top ======================== */
.itla-dashboard .bg-itla-blue-dark {
	background-color: #023877 !important;
}

.itla-dashboard .navbar .navbar-brand {
	max-width: 130px;
}

	.itla-dashboard .navbar .navbar-brand img {
		height: auto;
	}

.itla-dashboard .navbar .top-bar {
	font-size: 0.9rem;
}

.active-cyan .fas,
.active-cyan-2 .fas,
.active-cyan-3 .fas,
.active-cyan-4 .fas {
	color: #54c8ff;
}

.itla-dashboard .navbar .top-bar .nav-item:nth-child(2) {
	position: relative;
	overflow: inherit !important;
	padding-left: 5%;
}

.itla-dashboard .navbar .nav-item .email {
	position: relative;
	overflow: inherit !important;
	width: 70px;
}

	.itla-dashboard .navbar .nav-item .email .badge {
		position: absolute;
		z-index: 999;
		left: 20px;
		top: 0px;
	}

/* badge ======================== */
.badge {
	display: inline-block;
	background-color: #ff3547cf;
	border-radius: 50%;
	color: #fff;
	padding: 0.5em 0.75em;
	position: relative;
}

.pulsate::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	animation: pulse 1s ease infinite;
	border-radius: 50%;
	border: 4px double #ff3547;
}

@keyframes pulse {
	0% {
		transform: scale(1);
		opacity: 1;
	}

	60% {
		transform: scale(1.3);
		opacity: 0.4;
	}

	100% {
		transform: scale(1.4);
		opacity: 0;
	}
}
/* badge .end//======================== */

.nav-item .nav-link.dropdown-toggle img {
	width: 30px;
	height: 30px
}
/* Nav Logo Top .end//======================== */

.navbar.bg-itla-blue-dark form .md-form .form-control {
	color: #fff;
}

	.navbar.bg-itla-blue-dark form .md-form .form-control::placeholder {
		color: #fff;
	}

.navbar .nav-item.avatar {
	padding: 0;
}

.navbar.bg-itla-blue-dark form .md-form input {
	border-bottom: 1px solid #fff;
}

.itla-dashboard .navbar .nav-item.avatar {
	width: 60px;
	height: 60px
}

.navbar-new-bottom {
	background-color: #f7f7f7;
	box-shadow: 0 5px 6px -2px rgba(0,0,0,.3);
	border-top: 1px solid #e0e0e0;
	margin-top: 0px;
	height: 40px;
}

	.navbar-new-bottom ul li {
		margin-left: 2%;
		margin-right: 2%;
	}

/* Menu =======================  */
.sticky-wrapper {
	width: 100%;
}

.itla-dashboard .navbar.t-button {
	/* position: relative; */
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 0;
}

.itla-dashboard .header-navbar.navbar-expand-sm.navbar {
	padding: 0;
	background-color: #037ccc !important;
}

.itla-dashboard .navbar-nav .dropdown a,
.itla-dashboard .navbar-nav .mega-dropdown-menu,
.itla-dashboard .navigation-main .mega-dropdown-menu {
	font-family: 'Open Sans',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif;
}

.horizontal-top-icon-menu #main-menu-navigation li.nav-item .nav-link {
	text-align: center;
}

	.horizontal-top-icon-menu #main-menu-navigation li.nav-item .nav-link i {
		display: block;
		text-align: center;
		font-size: 1.5rem;
		margin-right: 0;
		margin-bottom: .5rem;
		float: none;
	}

.horizontal-top-icon-menu #main-menu-navigation li.nav-item .nav-link {
	text-align: center;
}

.dropdown .dropdown-menu {
	opacity: 0;
	-webkit-transform-origin: top;
	-moz-transform-origin: top;
	-ms-transform-origin: top;
	-o-transform-origin: top;
	transform-origin: top;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-transform: scale(1,0);
	-moz-transform: scale(1,0);
	-ms-transform: scale(1,0);
	-o-transform: scale(1,0);
	transform: scale(1,0);
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
	box-shadow: 0 1px 3px rgba(0,0,0,.1);
	/* border-radius: .21rem; */
	border-radius: 0;
	display: block;
}

.show > .dropdown-menu {
	-webkit-transform: scale(1,1);
	-moz-transform: scale(1,1);
	-ms-transform: scale(1,1);
	-o-transform: scale(1,1);
	transform: scale(1,1);
	opacity: 1;
}

.dropdown .dropdown-divider, .dropdown .dropdown-menu {
	border: 1px solid #E6E6E6;
}

	.dropdown .dropdown-menu .dropdown-item {
		padding: 10px 20px;
		width: 100%;
		width: 100%;
		font-size: 1rem;
		text-transform: none;
	}

.show > .dropdown-menu {
	-webkit-transform: scale(1,1);
	-moz-transform: scale(1,1);
	-ms-transform: scale(1,1);
	-o-transform: scale(1,1);
	transform: scale(1,1);
	opacity: 1;
}

.navbar .dropdown-menu a,
.navbar .dropdown-menu a:not(.active) {
	color: #828282;
	font-size: .95rem;
}

.nav.navbar-nav .dropdown .dropdown-toggle i, .nav.navbar-nav .dropdown .dropdown-toggle span {
	color: #FFFFFF;
}

.itla-dashboard .navbar-nav.top-bar input.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #FFFFFF;
	opacity: 1; /* Firefox */
}

.itla-dashboard .navbar-nav.top-bar input.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #FFFFFF;
}

.itla-dashboard .navbar-nav.top-bar input.form-control::-ms-input-placeholder { /* Microsoft Edge */
	color: #FFFFFF;
}

.navbar-horizontal .dropdown-menu .dropdown-submenu > a:after, .navbar-horizontal .dropdown-menu .dropdown-submenu > button:after {
	font-size: .75rem;
	right: 6px;
}

.dropdown-menu .dropdown-submenu > a:after, .dropdown-menu .dropdown-submenu > button:after {
	font-family: "simple-line-icons";
	content: '\e606' !important;
	right: 15px;
	font-size: .9rem;
	float: right;
	border: none;
	position: absolute;
}

.navbar-horizontal .dropdown-toggle::after {
	top: 11px !important;
}

.dropdown-toggle::after {
	font-size: .7rem;
	font-family: "simple-line-icons";
	content: '\e606' !important;
	border: none !important;
	position: relative;
	top: 0;
	right: 0;
	padding: 0 2px 0 6px;
	margin: 0 .3em 0 0;
	vertical-align: 0;
}

.itla-dashboard .dropdown-item:focus, .itla-dashboard .dropdown-item:hover {
	color: #f8f9fa !important;
	text-decoration: none;
	background-color: #50b0ef;
}

.itla-dashboard .dropdown.nav-item .dropdown-menu {
	padding: 0px !important;
}

.navbar-nav .mega-dropdown-menu .dropdown-menu-header, .navigation-main .mega-dropdown-menu .dropdown-menu-header {
	padding: .5rem 0;
	border-bottom: 1px solid #E6E6E6;
}

.nav .nav-item i {
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	align-self: center;
}

.dropdown i, .nav-item i {
	margin-right: .5rem;
}

.navbar-nav .mega-dropdown-menu ul li a .icon-arrow-right-circle, .navigation-main .mega-dropdown-menu ul li a .icon-arrow-right-circle {
	float: right;
}

.navbar-nav .mega-dropdown-menu ul a.dropdown-item, .navigation-main .mega-dropdown-menu ul a.dropdown-item {
	padding: 10px;
}

/*.dropdown .dropdown-menu .dropdown-item {
    padding: 10px 20px;
    width: 100%; 
}*/

.navbar-nav .mega-dropdown-menu ul li a, .navigation-main .mega-dropdown-menu ul li a {
	display: block;
	color: #373A3C;
}

.header-navbar .navbar-container {
	padding: 0px;
	height: 4.57rem;
	-webkit-transition: .3s ease all;
	-o-transition: .3s ease all;
	-moz-transition: .3s ease all;
	transition: .3s ease all;
	background: inherit;
}

.header-navbar .navbar-container {
	width: 100%;
	height: auto;
}

.itla-dashboard #main-menu-navigation li.nav-item .nav-link i {
	display: block;
	text-align: center;
	font-size: 1.5rem;
	margin-right: 0;
	margin-bottom: .5rem;
	float: none;
}

.itla-dashboard #main-menu-navigation li.nav-item .nav-link {
	text-align: center;
}

.itla-dashboard .header-navbar .navbar-container ul.nav li > a.nav-link {
	/* padding: 1.8rem 1rem; */
	font-size: .81rem;
}

.itla-dashboard .dropdown-toggle::after {
	display: none;
}

.itla-dashboard .dropdown.dropdown-submenu .dropdown-toggle::after {
	display: inherit;
}

.nav.navbar-nav .dropdown .dropdown-toggle i {
	color: #FFFFFF;
}

.itla-dashboard .navbar-nav .mega-dropdown-menu, .navigation-main .mega-dropdown-menu {
	font-family: 'Open Sans',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif;
	width: -webkit-calc(100% - 50px);
	width: -moz-calc(100% - 50px);
	width: calc(100% - 50px);
	padding: .5rem 0 !important;
	margin: 0 25px;
	-webkit-box-shadow: 0 5px 75px 2px rgba(64,70,74,.2);
	box-shadow: 0 5px 75px 2px rgba(64,70,74,.2);
	z-index: 9999;
}

.itla-dashboard .dropdown.nav-item .mega-dropdown-menu.dropdown-menu {
	padding: .9rem 0 !important;
}

.mega-dropdown .dropdown-menu {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex !important;
}

.mega-dropdown {
	position: static !important;
}

.itla-dashboard .mega-dropdown-menu {
	margin: 0 25px !important;
}

.itla-dashboard .sliding-menu {
	overflow: hidden;
	position: relative;
}

.navbar-nav .mega-dropdown-menu ul a.dropdown-item, .navigation-main .mega-dropdown-menu ul a.dropdown-item {
	padding: 10px;
}

.dropdown .dropdown-menu .dropdown-item {
	padding: 10px 20px;
	width: 100%;
}

.navbar-dark .navbar-nav li, .navbar-light .navbar-nav li, .navbar-semi-dark .navbar-nav li, .navbar-semi-light .navbar-nav li {
	line-height: 1;
}

.navbar-nav .mega-dropdown-menu ul a.dropdown-item, .navigation-main .mega-dropdown-menu ul a.dropdown-item {
	padding: 10px;
}

.navbar-nav .mega-dropdown-menu ul li a, .navigation-main .mega-dropdown-menu ul li a {
	display: block;
	color: #373A3C;
}

/* .dropdown .dropdown-menu {
    opacity: 0;
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    -ms-transform-origin: top;
    -o-transform-origin: top;
    transform-origin: top;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-transform: scale(1,0);
    -moz-transform: scale(1,0);
    -ms-transform: scale(1,0);
    -o-transform: scale(1,0);
    transform: scale(1,0);
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
    border-radius: .21rem;
    display: block;
}*/

.columns {
	display: block;
	width: 100%;
}

	.columns ul li {
		text-align: left;
	}

	.columns .original a {
		color: #333;
	}

.navbar-nav .mega-dropdown-menu ul, .navigation-main .mega-dropdown-menu ul {
	padding: 0;
	margin: 0;
}

.sliding-menu ul {
	float: left;
	margin: 0;
	padding: 0;
}

.navbar-nav .mega-dropdown-menu ul a.dropdown-item, .navigation-main .mega-dropdown-menu ul a.dropdown-item {
	padding: 10px;
}

.dropdown .dropdown-menu .dropdown-item {
	padding: 10px 20px;
	width: 100%;
}

.primary {
	color: #967ADC !important;
}

.nav .nav-item i {
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	align-self: center;
}

.dropdown i, .nav-item i {
	margin-right: .5rem;
}

/* .itla-dashboard .navbar-fixed {
    z-index: 99!important;
}

.sticky-wrapper.menu .nav.navbar-nav .dropdown.mega-dropdown .mega-dropdown-menu{z-index: 999!important;} */

/* Style the navbar */
#navbar {
	overflow: hidden;
	background-color: #333;
}

	/* Navbar links */
	#navbar a {
		float: left;
		display: block;
		color: #f2f2f2;
		text-align: center;
		padding: 14px;
		text-decoration: none;
	}

/* Page content */
.content {
	padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

	/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
	.sticky + .content {
		padding-top: 60px;
	}

.navbar .nav-item .dropdown-menu {
	display: none;
}

.navbar .nav-item:hover .nav-link {
	color: #fff;
}

.navbar .nav-item:hover > .dropdown-menu {
	display: block;
}

.navbar .nav-item .dropdown-menu {
	margin-top: 0;
}

/* desktop view ======================== */
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu {
		display: none;
	}

	.navbar .nav-item:hover .nav-link {
		color: #fff;
	}

	.navbar .nav-item:hover > .dropdown-menu {
		display: block;
		-webkit-transform: scale(1,1);
		-moz-transform: scale(1,1);
		-ms-transform: scale(1,1);
		-o-transform: scale(1,1);
		transform: scale(1,1);
		opacity: 1;
	}

	.navbar .nav-item .dropdown-menu {
		margin-top: -5px;
	}
}
/* desktop view .end// ======================== */

.dropdown-menu .dropdown-toggle:after {
	border-top: .3em solid transparent;
	border-right: 0;
	border-bottom: .3em solid transparent;
	border-left: .3em solid;
}

.dropdown-menu .dropdown-menu {
	margin-left: 0;
	margin-right: 0;
}

.dropdown-menu li {
	position: relative;
}

.nav-item .submenu {
	display: none;
	position: absolute;
	left: 100%;
	top: -7px;
}

.nav-item .submenu-left {
	right: 100%;
	left: auto;
}

.dropdown-menu > li:hover {
	background-color: #f1f1f1
}

	.dropdown-menu > li:hover > .submenu {
		display: block;
	}

.navbar .nav-item:hover > .mega-dropdown-menu.dropdown-menu {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-transform: scale(1,1);
	-moz-transform: scale(1,1);
	-ms-transform: scale(1,1);
	-o-transform: scale(1,1);
	transform: scale(1,1);
	opacity: 1;
}

.navbar {
	padding-top: 0;
	padding-bottom: 0;
}

	.navbar .has-megamenu {
		position: static !important;
	}

	.navbar .megamenu {
		left: 0;
		right: 0;
		width: 100%;
		padding: 20px;
	}

	.navbar .nav-link {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}

.itla-dashboard .itla-menu > li {
	margin: 0;
	color: inherit;
	text-transform: uppercase;
	word-wrap: break-word;
	white-space: normal;
	cursor: pointer;
	border: 0;
	border-radius: .125rem;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	-webkit-transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
	transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
	transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
	transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
	/* padding: .84rem 2.14rem; */
	font-size: .81rem;
	display: table-cell;
}

.itla-dashboard .itla-menu > li {
	color: #fff;
	background-color: #037ccc !important;
}

.btn-top-menu {
	margin: 0;
	color: inherit;
	text-transform: uppercase;
	word-wrap: break-word;
	white-space: normal;
	cursor: pointer;
	border: 0;
	border-radius: .125rem;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	-webkit-transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
	transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
	transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
	transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
	/* padding: .84rem 2.14rem; */
	font-size: .81rem;
	display: table-cell;
}

	.btn-top-menu a.nav-link {
		padding: .84rem 1.6rem !important;
	}

.navbar.navbar-dark .breadcrumb .nav-item.btn-top-menu.active > .nav-link, .navbar.navbar-dark .navbar-nav .nav-item.btn-top-menu.active > .nav-link {
	background-color: transparent;
}

li.btn-top-menu:not([disabled]):not(.disabled):active,
li.btn-top-menu:not([disabled]):not(.disabled).active,
.show > li.btn-top-menu.dropdown-toggle {
	background-color: #02519c !important;
	-webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
	box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
}

.btn-top-menu:hover, .btn-top-menu:focus, .btn-top-menu:active {
	outline: 0;
	-webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
	box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
}

.btn-top-menu:focus, .btn-top-menu.focus {
	-webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
	box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
}

.btn-top-menu {
	color: #fff;
	background-color: #037ccc !important;
}

	.btn-top-menu:hover {
		color: #fff;
		background-color: #1786d0 !important;
		-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.40), 0 2px 10px 0 rgba(0,0,0,0.20);
		box-shadow: 0 2px 5px 0 rgba(0,0,0,0.40), 0 2px 10px 0 rgba(0,0,0,0.30);
		/* font-size: .91rem; */
	}

/* 
.itla-dashboard .navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
} */
/* Menu .End//======================== */
/* HEATHER .END// */

/* /////////////////////////////////////////////////////////////////////////////// */

/* CONTAINER */
.itla-dashboard .primary-color, .itla-dashboard ul.stepper li.active a .circle, .itla-dashboard ul.stepper li.completed a .circle {
	background-color: #037ccc !important;
}

.itla-dashboard .pills-primary .nav-link.active {
	background-color: #00a1ff !important;
}

.itla-dashboard .blue-gradient {
	background: linear-gradient(40deg,#45cafc,#023877) !important;
}

.table-wrapper {
	overflow: hidden;
	overflow-x: auto;
}

/* Accordion Materias */
.accordion.md-accordion.accordion-5 .card .card-header {
	background-color: #f44336;
	-webkit-transition: .3s;
	transition: .3s;
}

.accordion.md-accordion.accordion-1 .card .card-header, .accordion.md-accordion.accordion-2 .card .card-header, .accordion.md-accordion.accordion-4 .card .card-header, .accordion.md-accordion.accordion-5 .card .card-header {
	border: 0;
}

	.accordion.md-accordion.accordion-5 .card .card-header:hover {
		background-color: #455a64;
		-webkit-transition: .3s;
		transition: .3s;
	}

.md-accordion .card .card-header {
	padding: 1rem 1.5rem;
	background: transparent;
	border-bottom: 0;
}

.accordion.md-accordion.accordion-5 .card .card-header .fas, .accordion.md-accordion.accordion-5 .card .card-header .fab, .accordion.md-accordion.accordion-5 .card .card-header .far {
	background-color: #fff;
	border-top-left-radius: 3px;
}

.md-accordion .card .card-header a {
	-webkit-transition: ease-in-out 0.3s;
	transition: ease-in-out 0.3s;
}

.accordion.md-accordion.accordion-5 .card .card-header .fas, .accordion.md-accordion.accordion-5 .card .card-header .fab, .accordion.md-accordion.accordion-5 .card .card-header .far {
	background-color: #fff;
	border-top-left-radius: 3px;
}

.accordion.md-accordion a {
	color: #0275d8;
	text-decoration: none;
	cursor: pointer;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
/* Accordion Materias .end//*/

.card-no-border .card {
	border-color: #d7dfe3;
	border-radius: 4px;
	-webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
}

.little-profile .pro-img {
	margin-top: -80px;
	margin-bottom: 20px;
}

	.little-profile .pro-img img {
		width: 128px;
		height: 128px;
		-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
		box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
		border-radius: 100%;
	}

.little-profile .pro-img {
	margin-top: -80px;
	margin-bottom: 20px;
}
/* CONTAINER .END// */

/* /////////////////////////////////////////////////////////////////////////////// */

/* FOOTER */
/* FOOTER .END// */

/* /////////////////////////////////////////////////////////////////////////////// */

/* .navbar.t-button .navbar-nav { 
    width: 100%;
    display: inline-table;
} */
/*.itla-dashboard .header-navbar .navbar-container ul.nav li:hover>a.nav-link {
    padding: 1.8rem 1rem;
    font-size: 0.86rem; 
}*/
/* .navbar-nav.t-button li.btn-primary:not([disabled]):not(.disabled):active,
.navbar-nav.t-button li.btn-primary:not([disabled]):not(.disabled).active,
.navbar-nav.t-button .show>li.btn-primary.dropdown-toggle {} */

/* .btn-primary:not([disabled]):not(.disabled):active, .btn-primary:not([disabled]):not(.disabled).active, .show>.btn-primary.dropdown-toggle {
    background-color: #0b51c5 !important;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
} */

/* LOGIN */
.itla-dashboard.login {
	background-image: url('../images/background.png');
	background-color: #cccccc;
	background-size: cover;
}

.login-page .card {
	background-color: rgba(229,228,255,.2);
	margin-top: 30px;
}

.card {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
	border: 0;
	font-weight: 400;
}

.container-login100 .input100 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px !important;
	line-height: 1.2 !important;
	color: #333333 !important;
	display: block !important;
	width: 100% !important;
	background: #fff !important;
	height: 50px !important;
	border-radius: 25px !important;
	padding: 0 30px 0 53px !important;
	margin-left: 0;
	margin-bottom: 0;
}

.container-login100 .login100-form-avatar {
	width: 80%;
	height: 100%;
	border-radius: 0;
	overflow: hidden;
	margin: 0 auto;
}

.container-login100::before {
	content: "";
	display: block;
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #005bea;
	background: -webkit-linear-gradient(bottom, #005bea, #00c6fb);
	background: -o-linear-gradient(bottom, #005bea, #00c6fb);
	background: -moz-linear-gradient(bottom, #005bea, #00c6fb);
	background: linear-gradient(bottom, #005bea, #00c6fb);
	opacity: 0.2 !important;
}

.login100-form-btn {
	background: #027BFF !important;
}

@keyframes animatedBackground {
	from {
		background-position: 0 0;
	}

	to {
		background-position: 100% 0;
	}
}

#animate-area {
	width: 100%;
	height: 100%;
	min-height: 100vh;
	background-image: url('../images/background-t.png');
	background-position: 0px 0px;
	background-repeat: repeat-x;
	animation: animatedBackground 20s linear infinite alternate;
	opacity: 0.2;
	/* width: 200px;
	height: 200px;
	background-image: url(http://placekitten.com/800/400);
	background-position: 0px 0px;
	background-repeat: repeat-x;
	animation: animatedBackground 10s linear infinite alternate; */
}

.container-login100 {
	padding: 0 !important;
}

.wrap-login100 {
	z-index: 999;
	position: absolute;
}

	.wrap-login100::-webkit-input-placeholder {
		color: red !important;
	}

	.wrap-login100:-moz-placeholder { /* Firefox 18- */
		color: red;
	}

	.wrap-login100::-moz-placeholder { /* Firefox 19+ */
		color: red;
	}

	.wrap-login100:-ms-input-placeholder {
		color: red;
	}

	.wrap-login100 input[type=text]::-webkit-input-placeholder { /* WebKit browsers */
		color: #666;
	}

	.wrap-login100 input[type=text]:-moz-input-placeholder { /* Mozilla Firefox 4 to 18 */
		color: #666;
	}

	.wrap-login100 input[type=text]::-moz-input-placeholder { /* Mozilla Firefox 19+ */
		color: #666;
	}

	.wrap-login100 input[type=text]:-ms-input-placeholder { /* Internet Explorer 10+ */
		color: #666;
	}
/* LOGIN .END// */

/* /////////////////////////////////////////////////////////////////////////////// */

/* UTILITIES */
/* Colors Fonts */
.text-blue {
	color: #07afef;
}
/* Colors Fonts .end// */

.btn-primary {
	background-color: #00a1ff !important;
}

.bg-blue-2 {
	background-color: #00a1ff !important;
}

.itla-dashboard .info-color-dark {
	background-color: #037ccc !important;
}

.itla-dashboard .bg-dark-1 {
	background-color: #4a5157 !important;
}
/* UTILITIES .END// */

/* /////////////////////////////////////////////////////////////////////////////// */

/* TAPS Y */
.itla-dashboard .md-pills li {
	padding: .2rem;
}
/* TAPS Y .END// */

/* /////////////////////////////////////////////////////////////////////////////// */

/* PROPERTY RESET */
.itla-dashboard .container-fluid .primary-heading::before, .section-heading::before {
	height: 0;
	margin-top: 0;
}
/* ROPERTY RESET .END// */

/* /////////////////////////////////////////////////////////////////////////////// */


@media (max-width: 991px) {
	.navbar-expand-lg .navbar-nav {
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.navbar-expand-lg.visible .navbar-nav {
		-ms-flex-direction: row;
		flex-direction: row;
	}

	.itla-dashboard #main-menu-navigation li.nav-item .nav-link i {
		display: block;
		text-align: left;
		font-size: 1.2em;
		margin-right: 0.5rem;
		margin-bottom: 0;
		float: left;
	}

	.itla-dashboard #main-menu-navigation li.nav-item .nav-link {
		text-align: left;
	}
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1300px) {
	.btn-top-menu a.nav-link {
		padding: .84rem 0.7rem !important;
	}

	.itla-dashboard .header-navbar .navbar-container ul.nav li > a.nav-link {
		/* padding: 1.8rem 1rem; */
		font-size: 0.7rem;
	}
}

@media all and (min-width: 992px) {
	.navbar {
		padding-top: 0;
		padding-bottom: 0;
	}

		.navbar .has-megamenu {
			position: static !important;
		}

		.navbar .megamenu {
			left: 0;
			right: 0;
			width: 100%;
			padding: 20px;
		}

		.navbar .nav-link {
			padding-top: 1rem;
			padding-bottom: 1rem;
		}
}

@media (min-width: 992px) {
}

.mega-dropdown-menu.dropdown-menu > li:hover {
	background-color: transparent;
}

@media (min-width: 992px) {
	.dropdown-menu .dropdown-toggle:after {
		border-top: .3em solid transparent;
		border-right: 0;
		border-bottom: .3em solid transparent;
		border-left: .3em solid;
	}

	.dropdown-menu .dropdown-menu {
		margin-left: 0;
		margin-right: 0;
	}

	.dropdown-menu li {
		position: relative;
	}

	.nav-item .submenu {
		display: none;
		position: absolute;
		left: 100%;
		top: -7px;
	}

	.nav-item .submenu-left {
		right: 100%;
		left: auto;
	}

	.dropdown-menu > li:hover {
		background-color: #f1f1f1
	}

		.dropdown-menu > li:hover > .submenu {
			display: block;
			-webkit-transform: scale(1,1);
			-moz-transform: scale(1,1);
			-ms-transform: scale(1,1);
			-o-transform: scale(1,1);
			transform: scale(1,1);
			opacity: 1;
		}

	.navbar .nav-item:hover > .mega-dropdown-menu.dropdown-menu {
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-transform: scale(1,1);
		-moz-transform: scale(1,1);
		-ms-transform: scale(1,1);
		-o-transform: scale(1,1);
		transform: scale(1,1);
		opacity: 1;
	}
}

.bg-itla-1 {
	background-color: #035f9c !important;
}

.bg-itla-2 {
	background-color: #037ccc !important;
}

.bg-itla-3 {
	background-color: #037cccd1 !important;
}

.bg-itla-4 {
	background-color: #037ccca8 !important;
}

.bg-itla-5 {
	background-color: #037ccc !important;
}
